<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue TodoList</title>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/script.js" charset="utf-8"></script>
    <title>Document</title>
</head>
<body> 
    <div id="app" class="container">
        <div class="box">
            <div class="contactsList">
                <div class="profile">
                    <img src="img/profile.jfif" alt="immagine profilo">
                    <div class="icons"> 
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                   
                </div>
                <div class="contacts">
                    <ul>
                        <li v-for="name in contacts" >
                            <img :src="name.avatar" alt="profilepic">
                            <span>{{ name.name }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="activeChat">
                <div class="messageBoxFull">
                    <div class="messageBox">
                        <ul>
                            <li>
                                <div v-for="(msg, index) in contacts[index].messages" :key="msg.text" >
                                    <p v-if="msg.status=='sent'" class="sent">{{ msg.text }}</p>
                                    <p v-else class="received">{{ msg.text }} </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="sendMsg">
                        <button>
                            <i class="far fa-smile-beam"></i>
                        </button>
                        <button>
                            <i class="fas fa-paperclip"></i>
                        </button>
                        <input type="text">
                        <button class="send"> 
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
                <div class="noActiveChat hidden">
                    <img src="img/logo.png" alt="whatsapp promo">
                    <h2>Mantieni il telefono connesso</h2>
                    <p>BoolzApp si collega al tuo telefono per sincronizzare i messaggi. Per Ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi</p>
                    <hr>
                    <p>WhatsApp è disponibile per Windows. <span class="highlighted">Scaricala qui.</span></p>
                </div>
    
            </div>
        </div>
        
    </div>
    
</body>
</html>